body {
  background-color: rgba(0, 0, 0, 0.9); }

.icon-wrapper {
  width: 40px;
  height: 40px;
  background: rgba(101, 198, 187, 0.6);
  border-radius: 5px; }

.icon-asterisk div {
  transition: all .4s ease; }
.icon-asterisk .one, .icon-asterisk .two, .icon-asterisk .three, .icon-asterisk .four {
  background-color: #fff;
  width: 40px;
  height: 4px; }
.icon-asterisk .one {
  transform: translate3d(10px, 18px, 0); }
.icon-asterisk .two {
  transform: translate3d(10px, 14px, 0) rotateZ(45deg); }
.icon-asterisk .three {
  transform: translate3d(10px, 10px, 0) rotateZ(90deg); }
.icon-asterisk .four {
  transform: translate3d(10px, 6px, 0) rotateZ(135deg); }
.icon-asterisk .five {
  width: 0;
  height: 0; }

.icon-plus div {
  transition: all .4s ease; }
.icon-plus .one, .icon-plus .two {
  background-color: #fff;
  width: 40px;
  height: 4px; }
.icon-plus .one {
  transform: translate3d(6px, 16px, 0); }
.icon-plus .two {
  transform: translate3d(6px, 8px, 0) rotateZ(90deg); }
.icon-plus .three, .icon-plus .four, .icon-plus .five {
  width: 0;
  height: 0; }
