body {
  background-color: rgba(0, 0, 0, 0.9);
}

.icon-wrapper {
  width: 40px;
  height: 40px;
  background: rgba(101, 198, 187, 0.6);
  border-radius: 5px;
}

.icon-asterisk {
  div {
    transition: all .4s ease;
  }

  .one, .two, .three, .four {
    background-color: #fff;
    // border: 2px solid #fff;
    // border-radius: 1px;
    width: 40px;
    height: 4px;
  }

  .one {
    transform: translate3d(10px, 18px, 0);
  }

  .two {
    transform: translate3d(10px, 14px, 0) rotateZ(45deg);
  }

  .three {
    transform: translate3d(10px, 10px, 0) rotateZ(90deg);
  }

  .four {
    transform: translate3d(10px, 6px, 0) rotateZ(135deg);
  }

  .five {
    width: 0;
    height: 0;
  }
}

.icon-plus {
  div {
    transition: all .4s ease;
  }

  .one, .two {
    background-color: #fff;
    // border: 4px solid #fff;
    // border-radius: 2px;
    width: 40px;
    height: 4px;
  }

  .one {
    transform: translate3d(6px, 16px, 0);
  }

  .two {
    transform: translate3d(6px, 8px, 0) rotateZ(90deg);
  }

  .three, .four, .five {
    width: 0;
    height: 0;
  }
}